---
layout: default
---
{%- include header.html -%}

<div id="main" class="animsition">
  <article>
    <div class="photoCentre" itemscope itemtype="http://schema.org/Photograph">

      <!-- Schema.org BlogPost Invisible Meta-Data -->
      <meta itemprop="author" content="{{ site.owner.name }}"/>
      <meta itemprop="inLanguage" content="en-US"/>
      <meta itemprop="isFamilyFriendly" content="true"/>
      <meta itemprop="url" content="{{ site.url }}{{ page.url }}"/>
      <meta itemprop="name" content="{{page.title}}"/>
      <meta itemprop="image" content="{{ site.url }}/assets/images/gallery/photography/{{ page.photo_url }}.jpeg"/>
      <meta itemprop="thumbnailUrl" content="{{ site.url }}/assets/images/gallery/photography/thumbnails/{{ page.photo_url }}.jpeg"/>
      <meta itemprop="description" content="{{page.description}}"/>
      <!-- todo: content location -->

      <div id="photo" style="text-align: center;">
        <img id="picture" style="max-height:100%; max-width:100%;" src="{{ site.url }}/assets/images/gallery/photography/{{ page.photo_url }}.jpeg" class="entry-feature-image"
             alt="{{ page.title }}">
      </div>
      <div>
        <a class="animsition-link btn-social photobtn" data-animsition-out="fade-out-right"
           href="{{ site.url }}/photography/{{page.previous_pic}}" style="float: left;">Newer</a>
        <a class="animsition-link btn-social photobtn" data-animsition-out="fade-out-left"
           href="{{ site.url }}/photography/{{page.next_pic}}" style="float: right;">Older</a>
      </div>
      <br><br>

      <div class="photoInfoContainer">
        <div class="photoInfo1">
          <div>
            <h2 style="margin-bottom: 0px; margin-top: 0px;">{{page.title}}</h2>
            {% if page.description %}
            {{page.description}}
            {% endif %}
          </div>
          <a href="{{- _post.url | absolute_url -}}" class="button">Вернуться в альбом</a>
        </div>
      </div>
    </div>
  </article>
</div>

<script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/js/plugins/jquery.animsition.min.js"></script>

<script>
  var photo = $("#photo");
  var picture = $("#picture");
  photo.click(function (e) {
    var pWidth = $(this).innerWidth();
    var pOffset = $(this).offset();
    var x = e.pageX - pOffset.left;
    if (pWidth / 2 > x) {
      window.location.href = '{{ site.url }}/photography/{{page.previous_pic}}';
    }
    else {
      window.location.href = '{{ site.url }}/photography/{{page.next_pic}}';
    }
  });

  document.onkeydown = function (e) {
    switch (e.keyCode) {
      case 37: //left click
        window.location.href = '{{ site.url }}/photography/{{page.previous_pic}}';
        break;
      case 39: //right click
        window.location.href = '{{ site.url }}/photography/{{page.next_pic}}';
        break;
    }
  };

  function fitImageSize(){
    photo.height("100%");
    var imageMax = $(window).height()/100*70;
    var currentContentHeight = photo.height();
    if(currentContentHeight > imageMax){
      photo.height(imageMax);
      photo.width("auto");
      photo.marginLeft = "auto";
      photo.height = picture.height;
    }
  }
  fitImageSize();

  //window.addEventListener('resize', fitImageSize(), true);
  window.onresize = function(event) {
    fitImageSize();
  };

  $(document).ready(function () {
    fitImageSize();

    //Dynamic Transition Support
    $(".animsition").animsition({
      inClass: 'fade-in',
      outClass: 'fade-out',
      inDuration: 1500,
      outDuration: 400,
      linkElement: '.animsition-link',
      // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
      loading: true,
      loadingParentElement: 'body', //animsition wrapper element
      loadingClass: 'animsition-loading',
      unSupportCss: [
        'animation-duration',
        '-webkit-animation-duration',
        '-o-animation-duration'
      ],
      //"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
      //The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
      overlay: false,
      overlayClass: 'animsition-overlay-slide',
      overlayParentElement: 'body'
    });
  });
</script>
