---
layout: default
---
{%- include header.html -%}
<div id="main">
  <!-- Post -->
  <article class="shade-two">
    <div class="container post">
      <header>
        <h2>{{- page.title -}}</h2>
        <p>{{- page.subtitle -}}</p>
      </header>
      <img class="image featured" src="../../../../{{- page.photo -}}"/>
      {{- content -}}
    </div>
  </article>
</div>
<script src="{{- 'assets/js/swiper.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/translate.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/post-swiper.js' | relative_url -}}"></script>
